@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";


:root {
  --background: #F2F2F4;
  --foreground: #2E2E2E;
  --coffee: #8C6053;
  --zeta: #686C6F;
  --suram: #E6E8ED;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coffee: var(--coffee);
  --color-zeta: var(--zeta);
  --color-suram: var(--suram);
  --font-roboto: var(--font-roboto-mono);
  --font-geist: var(--font-geist-mono);
}

body {
  background: var(--background);
}

p {
  @apply leading-relaxed
}