@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

:root {
  --background: #f2f2f4;
  --foreground: #2e2e2e;
  --coffee: #8c6053;
  --zeta: #686c6f;
  --suram: #e6e8ed;
  --shadow: 4px 4px 0px 0px var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-coffee: var(--coffee);
  --color-zeta: var(--zeta);
  --color-suram: var(--suram);
  --font-roboto: var(--font-roboto-mono);
  --font-geist: var(--font-geist-mono);
  --font-schoolbell: var(--font-schoolbell);
  --shadow-shadow: var(--shadow);
}

body {
  background: var(--background);
}

p {
  @apply leading-relaxed;
}
